# Get the latest node list from Bitnodes API

In [1]:
# import requests
import requests

In [2]:
headers = {'Accept': 'application/json; indent=4',}
bitnodes_data = requests.get('https://bitnodes.earn.com/api/v1/snapshots/latest/', headers=headers)

# Convert Bitnodes API output to CSV

In [3]:
# import pandas
import pandas as pd

In [4]:
# read the JSON into a DataFrame
bitnodes = pd.read_json(bitnodes_data.text)
bitnodes.head()

,latest_height,nodes,timestamp,total_nodes
1.175.158.207:8333,511761,"[70015, /Satoshi:0.16.0/, 1520055706, 1037, 51...",2018-03-03 08:49:59,11627
1.234.63.157:8333,511761,"[70015, /Satoshi:0.14.2/, 1516294428, 13, 0, 1...",2018-03-03 08:49:59,11627
1.234.63.203:8333,511761,"[70015, /Satoshi:0.13.2/, 1517827813, 13, 5117...",2018-03-03 08:49:59,11627
1.234.70.24:8333,511761,"[70015, /Satoshi:0.15.1/, 1519617730, 13, 5117...",2018-03-03 08:49:59,11627
1.234.70.66:8333,511761,"[70015, /Satoshi:0.15.1/, 1519483139, 13, 5117...",2018-03-03 08:49:59,11627

In [5]:
# examine how many records (e.g., mining nodes)
len(bitnodes)

11627

In [6]:
# looking at the above DataFrame, we are interested in the 'nodes' field
bitnodes.nodes[1]

[70015,
 '/Satoshi:0.14.2/',
 1516294428,
 13,
 0,
 '1.234.63.157',
 None,
 'KR',
 37.5112,
 126.9741,
 'Asia/Seoul',
 'AS9318',
 'SK Broadband Co Ltd']

In [7]:
# node list fields have these names:
# 'Protocol version', 'User agent', 'Connected since', 'Services', 'Height', 'Hostname', 'City', 'Country code', 'LAT', 'LON', 'Timezone', 'ASN', 'Organization name'
# create a nodes column list
node_fields = ['Protocol_version', 'User_agent', 'Connected_since', 'Services', 'Height', 'Hostname', 'City', 'Country_code', 'LAT', 'LON', 'Timezone', 'ASN', 'Organization_name']

# create a new dataframe from the 'nodes' list field above with the column names
bitnodes_nodes = pd.DataFrame(bitnodes.nodes.values.tolist(), columns=node_fields)
bitnodes_nodes.head()

,Protocol_version,User_agent,Connected_since,Services,Height,Hostname,City,Country_code,LAT,LON,Timezone,ASN,Organization_name
0,70015,/Satoshi:0.16.0/,1520055706,1037,511761,1-175-158-207.dynamic-ip.hinet.net,Kaohsiung,TW,22.6163,120.3133,Asia/Taipei,AS3462,Data Communication Business Group
1,70015,/Satoshi:0.14.2/,1516294428,13,0,1.234.63.157,None,KR,37.5112,126.9741,Asia/Seoul,AS9318,SK Broadband Co Ltd
2,70015,/Satoshi:0.13.2/,1517827813,13,511761,1.234.63.203,None,KR,37.5112,126.9741,Asia/Seoul,AS9318,SK Broadband Co Ltd
3,70015,/Satoshi:0.15.1/,1519617730,13,511761,1.234.70.24,None,KR,37.5112,126.9741,Asia/Seoul,AS9318,SK Broadband Co Ltd
4,70015,/Satoshi:0.15.1/,1519483139,13,511761,1.234.70.66,None,KR,37.5112,126.9741,Asia/Seoul,AS9318,SK Broadband Co Ltd

In [8]:
# convert the Unix timestamp to YYYY-DD-MM hh:mm:ss format
bitnodes_nodes['Connected_since'] = pd.to_datetime(bitnodes_nodes['Connected_since'], unit='s')
bitnodes_nodes.head()

,Protocol_version,User_agent,Connected_since,Services,Height,Hostname,City,Country_code,LAT,LON,Timezone,ASN,Organization_name
0,70015,/Satoshi:0.16.0/,2018-03-03 05:41:46,1037,511761,1-175-158-207.dynamic-ip.hinet.net,Kaohsiung,TW,22.6163,120.3133,Asia/Taipei,AS3462,Data Communication Business Group
1,70015,/Satoshi:0.14.2/,2018-01-18 16:53:48,13,0,1.234.63.157,None,KR,37.5112,126.9741,Asia/Seoul,AS9318,SK Broadband Co Ltd
2,70015,/Satoshi:0.13.2/,2018-02-05 10:50:13,13,511761,1.234.63.203,None,KR,37.5112,126.9741,Asia/Seoul,AS9318,SK Broadband Co Ltd
3,70015,/Satoshi:0.15.1/,2018-02-26 04:02:10,13,511761,1.234.70.24,None,KR,37.5112,126.9741,Asia/Seoul,AS9318,SK Broadband Co Ltd
4,70015,/Satoshi:0.15.1/,2018-02-24 14:38:59,13,511761,1.234.70.66,None,KR,37.5112,126.9741,Asia/Seoul,AS9318,SK Broadband Co Ltd

In [9]:
# check to make sure we have the same number of records
len(bitnodes_nodes) == len(bitnodes)

True

In [10]:
# save the new nodes DataFrame as a CSV
bitnodes_nodes.to_csv('bitnodes.csv', encoding='utf-8')